body {
  background-color: #3a3a3a;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ui {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  width: 100%;
}

canvas#scene {
  position: fixed;
  top: 5vh;
  height: 90vh;
  width: 45vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}

canvas#next {
  position: fixed;
  top: 5vh;
  height: 24vh;
  width: 16vh;
  right: 16vh;
  background-color: black;
}

canvas#hold {
  position: fixed;
  top: 34vh;
  height: 24vh;
  width: 16vh;
  right: 16vh;
  background-color: black;
}

ol, ul, p {
  color: #e0e0e0;
}

button#start {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #008542;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

button#start:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #008542 !important;
  box-shadow:
    0 -4px rgb(21 108 0 / 50%) inset,
    0 4px rgb(100 253 31 / 99%) inset,
    -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
}

button#start:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

button#start:hover:before {
  box-shadow:
    0 -4px rgb(0 0 0 / 50%) inset,
    0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset,
    4px 0 rgb(0 0 0 / 50%) inset;
}

button#start:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

button#start:active {
  transform: translateY(4px);
}

button#start:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}
