<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script type="importmap">
        {
            "imports": {
                "timonjs": "https://cdn.jsdelivr.net/npm/timonjs@2.0.5/dist/timon.module.min.mjs",
                "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.min.js",
                "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/",
                "gsap": "https://cdn.skypack.dev/gsap"
            }
        }
    </script>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/main.js" defer></script>
</head>
<body>
    <canvas id="scene"></canvas>
    <canvas id="next"></canvas>
    <canvas id="hold"></canvas>
    <section class="ui">
        <p>Highscores</p>
        <ol id="highscores"></ol>
        <p>Your Score</p>
        <ul>
            <li id="score">0</li>
        </ul>
        <p>Level</p>
        <ul>
            <li id="level">1</li>
        </ul>
        <button id="start">Start</button>
    </section>
</body>
</html>