<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <script type="importmap">
        {
            "imports": {
                "timonjs": "https://cdn.jsdelivr.net/npm/timonjs@2.0.5/dist/timon.module.min.mjs",
                "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.min.js",
                "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/",
                "gsap": "https://cdn.skypack.dev/gsap"
            }
        }
    </script>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/main.js" defer></script>
</head>
<body>
    <canvas id="scene"></canvas>
    <p>Highscores</p>
    <ol id="highscores">
        
    </ol>
</body>
</html>